*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:20px;
    background:linear-gradient(-45deg,#0f172a,#312e81,#7c3aed,#06b6d4);
    background-size:400% 400%;
    animation:bgMove 12s ease infinite;
    overflow-x:hidden;
}

@keyframes bgMove{
    0%{background-position:0% 50%;}
    50%{background-position:100% 50%;}
    100%{background-position:0% 50%;}
}

.bg1,.bg2{
    position:fixed;
    border-radius:50%;
    filter:blur(120px);
    opacity:.35;
}

.bg1{
    width:300px;
    height:300px;
    background:#00e5ff;
    top:-80px;
    left:-80px;
}

.bg2{
    width:350px;
    height:350px;
    background:#ff00cc;
    bottom:-100px;
    right:-100px;
}

.card{
    width:100%;
    max-width:520px;
    padding:45px 35px;
    border-radius:30px;
    background:rgba(255,
